@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ponnala&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .bg-church-gradient {
    background-image: linear-gradient(to bottom, #4a230e 0%, #f0f6f9 100%);
  }

  .bg-church-gradient-alt {
    background-image: linear-gradient(to right, #bf8038 0%, #4a230e 100%);
  }
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-playfair {
  font-family: "Playfair Display", serif !important;
  /* font-weight: 900 !important; */
}

.main-ponnala {
  font-family: "Ponnala", sans-serif !important;
}

.main-color {
  color: #4c2525;
}
